{{!
// This file is part of Moodle - http://moodle.org/
//
// Secure Exam Access plugin for Moodle
// Copyright (C) 2025 Moayad Shloul
//
// This program is free software: you can redistribute it and/or modify
// it under the terms of the GNU General Public License as published by
// the Free Software Foundation, either version 3 of the License, or
// (at your option) any later version.
//
// You should have received a copy of the GNU General Public License
// along with Moodle.  If not, see <http://www.gnu.org/licenses/>.

/**
 *
 * @package   local_secureaccess
 * @copyright 2025 Moayad Shloul <shloul97@gmail.com>
 * @license   http://www.gnu.org/copyleft/gpl.html GNU GPL v3 or later
 */
}}
{{!
    @template local/secureaccess

    This template renders summary information about a single quiz attempt.

    Example context (json):
    {

    }
}}
<div class="container">
    <div>
        <h1>Restrict User By IP </h1>
    </div>

    <div class="plugin-content">
        {{!
            @template local_secureaccess/header
        }}
        {{> local_secureaccess/header }}
        <div class="about mt-3">
            <div class="plugin-description">
                <h2>Restrict Plugin for Moodle</h2>
                <p>
                    Restrict access to specific features or content based on user role, device, lab location, or other custom rules.
                </p>
                <ul>
                    <li>User role restrictions (e.g. students only)</li>
                    <li>Device-based access (IP or MAC address)</li>
                    <li>Lab-based restrictions (based on location)</li>
                    <li>Time-based access (ideal for exams)</li>
                    <li>Admin-only configuration and control</li>
                </ul>
                <p>
                    Perfect for in-lab exams, secure testing environments, and controlled plugin access.
                </p>
            </div>
        </div>
    </div>
</div>



