{{!
   // This file is part of Moodle - http://moodle.org/.
    //
.
    // Secure Exam Access plugin for Moodle.
    // Copyright (C) 2025 Moayad Shloul.
    //
.
    // This program is free software: you can redistribute it and/or modify.
    // It under the terms of the GNU General Public License as published by.
    // The Free Software Foundation, either version 3 of the License, or.
    // Any later version.
    //
.
    // You should have received a copy of the GNU General Public License.
    // Along with Moodle.  If not, see <http://www.gnu.org/licenses/>.

    /**
    * Short description of file.
    *
    * @package   local_restrict
    * @copyright 2025 Moayad Shloul <shloul97@gmail.com>
    * @license   http://www.gnu.org/copyleft/gpl.html GNU GPL v3 or later.
    */
}}
{{!
    @template local/restrict

    This template renders summary information about a single quiz attempt.

    Example context (json):
    {

    }
}}


<div class="row">
    <div class="col-12">

        {{{formhtml}}}
    </div>
</div>