{{!
    This file is part of Moodle - http://moodle.org/
    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.
    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.
    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template local/restrict

    This template renders summary information about a single quiz attempt.

    Example context (json):
    {

    }
}}



<table class="table table-borderd">
    <thead>
        <tr class="text-center">
            <th>
                <input  class="me-2" type="checkbox" name="select-ip" id="select-all"/>
                <span>Select All</span>
            </th>
            <th>
                IP
            </th>

            <th>
                Lab
            </th>

            <th>
                Status
            </th>
            <th>
                Action
            </th>
        </tr>

    </thead>
    <tbody>

        {{#tableData}}
        <tr class="text-center" id="tr-{{{deviceId}}}">
            <td><input type="checkbox" name="select-ip" id="{{{deviceId}}}"/> </td>
            <td>{{deviceIp}} </td>
            <td>{{labName}} </td>
            <td><span class="text-{{statusClass}}" id="span-{{{deviceId}}}">{{deviceStatus}}</span></td>
            <td>
                <div class="d-flex justify-content-center">

                    <button class="btn btn-{{btnClass}} me-2" name="action-btn" data-id="{{{deviceId}}}" data-action="{{btnData}}">{{btnContent}}</button>
                    <button class="btn btn-danger me-2" name="action-btn" data-id="{{{deviceId}}}" data-action="del">Delete</button>
                </div>
            </td>

        </tr>
        {{/tableData}}
    </tbody>
</table>


